$x1: 8px;
$x2: 2 * $x1;
$x3: 3 * $x1;
$x4: 4 * $x1;
.aki-date {
  position: fixed;
  top: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: calc(100vh - 60px);
  max-height: 100vh;
  width: 100vw;
  font-size: 12px;
  background-color: #fff;
  transition: ease-out .35s;
  &-visible{
    top: 0;
  }
  &-header {
    > div {
      display: flex;
      justify-content: space-between;
      background-color: #eee;
    }
    &-action{
      height: 48px;
      > button {
        padding: $x2;
        border: none;
        outline: none;
        background: none;
      }
    }
    &-week{
      display: flex;
      justify-content: space-evenly;
      padding: $x1 0;
      font-weight: bold;
      background-color: #fff!important;
      > span {
        flex: 1;
      }
    }
  }
  &-body {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  &-month {
    &-header {
      position: sticky;
      top: 0;
      padding: $x1 0;
      background-color: #f9f9f9;
    }
    &-body {
      display: flex;
      flex-wrap: wrap;
    }
    &-day {
      min-height: 72px;
      background-color: #fff;
      box-shadow: inset 0 0 2px 2px white;
      > p {
        margin: 0;
        width: calc(100vw / 7);
        &.tip{
          margin: 4px 0;
          color: #f0f0f0;
        }
        &:last-child{
          margin-bottom: 4px;
        }
      }
      &-boundary {
        color: white;
        background-color: deepskyblue!important;
        // box-shadow: none;
      }
      &-range {
        background-color: #afdfff;
        // box-shadow: inset 0 0 2px 2px #7fdfff;
      }
      &-disabled {
        color: #aaa;
        background-color: #eee;
        box-shadow: none;
      }
    }
  }
}
